{% extends 'shared/body.html' %}

{% block content %}
    <div class="col-12 mb-3">
        <center>
            <h1>Providers</h1>    
        </center>
    </div>
    <!-- Form to add new provider -->
    <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4 ">
        <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                {{ camp.provider_name }}
                <div class="input-group-append">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </div>
        </form>
    </div>
    <!-- Show all providers -->
    <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8 mt-4 mt-sm-4 mt-md-0 mt-lg-0 mt-xl-0">
        <div class="row"> <!-- Searchbar -->
            <div class="col-12">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search a provider">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"> <!-- text -->
            <div class="col-12 mt-3">
                <h3>All providers</h3>
            </div>
        </div>
        <div class="row"> <!-- table -->
            <div class="col-12 mt-2">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Name of providers</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prov in providers %}
                                <tr class>
                                    <td class="col-8">{{ prov }}</td>
                                    <td>
                                        <button class="btn btn-warning">
                                            <i class="bi bi-pencil"></i>
                                            Modify
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger">
                                            <i class="bi bi-trash"></i>
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}