{% extends 'shared/body.html' %}

{% block content %}
    <div class="col-12">
        <form method="POST">
            {% csrf_token %}
            <div class="row mt-4">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-person"> Username</i>
                            </span>
                        </div>
                        {{ camp.username }}
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i>@ E-mail</i>
                            </span>
                        </div>
                        {{ camp.email }}
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-key"> Password</i>
                            </span>
                        </div>
                        {{ camp.password }}
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    {{ camp.admin }}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}