{% extends 'shared/body.html' %}

{% block content %}
    <div class="col-12 mb-3">
        <center>
            <h1>All departments</h1>    
        </center>
    </div>
    <!-- Show all departments -->
    <div class="col-12 mt-4 mt-sm-4 mt-md-0 mt-lg-0 mt-xl-0">
        <div class="row"> <!-- Searchbar -->
            <div class="col-12">
                <form action="{% url 'Departments:searcheddepartment' %}">
                    <div class="input-group mb-3">
                        <input name="dep" type="text" class="form-control" placeholder="Search a department">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row"> <!-- table -->
            <div class="col-12 mt-2">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Name of department</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dep in object_list %}
                                <tr class>
                                    <td class="col-8">{{ dep }}</td>
                                    <td>
                                        <button class="btn btn-warning" disabled>
                                            <i class="bi bi-pencil"></i>
                                            Modify
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" disabled>
                                            <i class="bi bi-trash"></i>
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}