{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'Images/Icons/bootstrap-icons.css' %}">
        <title>{{ titleOfPage }}</title>
    </head>
    <body>
        <header>{% include 'shared/nav.html' %}
        </header>
        <main>
            <div class="container">
                <div class="row mt-5 mb-5">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="col-12 mb-5"> <!-- messages -->
                                <div class="alert {% if message.tags == 'success' %} alert-success {% else %} alert-danger {% endif %} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>
        <footer>
            {% include 'shared/footer.html' %}
        </footer>
    </body>
    <script src="{% static 'JS/jQuery.js' %}"></script>
    <script src="{% static 'JS/bootstrap.min.js' %}"></script>
</html>